.logo {
    margin: 2%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

h1 {
    margin: 1%;
}

.r-image {
    float: right;
    position: relative;
    right: 25%;
}

.l-image {
    float: left;
    position: relative;
    left: 25%;
}

/*@media (max-width: 1999.98px) { ... }*/